## HWK 5 -  Numpy

In [2]:
import numpy as np

## Exercise #1

In [4]:
a = np.arange(-15, 15).reshape(5,6)**2
a

array([[225, 196, 169, 144, 121, 100],
       [ 81,  64,  49,  36,  25,  16],
       [  9,   4,   1,   0,   1,   4],
       [  9,  16,  25,  36,  49,  64],
       [ 81, 100, 121, 144, 169, 196]], dtype=int32)

1. compute the maximum of each row
2. the mean of each column
3. The position of the overall minimum

## Exercises #2 
NYC montly temperature data format: 
Average Monthly & Annual Temperatures at Central Park,,,,,,,,,,,,,
YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL

In [5]:
Temp = np.loadtxt('http://www.geography.hunter.cuny.edu/~wenge/EDS2022F/data/NYCMet/CPannualT.csv',skiprows=2,delimiter=',')
Temp

array([[2000. ,   31.3,   37.3,   47.2,   51. ,   63.5,   71.3,   72.3,
          72.7,   66. ,   57. ,   45.3,   31.1,   53.9],
       [2001. ,   33.6,   35.9,   39.6,   54.2,   63.8,   72.9,   73.2,
          78.7,   67.7,   58.5,   52.7,   44.1,   56.3],
       [2002. ,   39.9,   40.6,   44.1,   56.1,   60.7,   71.4,   78.8,
          77.7,   70.2,   55.2,   46. ,   36. ,   56.4],
       [2003. ,   27.5,   30.1,   43.1,   49.8,   58.7,   68.3,   75.8,
          76.7,   67.9,   55.1,   50. ,   37.6,   53.4],
       [2004. ,   24.7,   35. ,   43.5,   53.6,   65.2,   71.2,   74.5,
          74.2,   69.3,   56. ,   48.2,   38.4,   54.5],
       [2005. ,   31.3,   36.5,   39.4,   55.1,   58.9,   74. ,   77.5,
          79.7,   73.3,   57.9,   49.6,   35.3,   55.8],
       [2006. ,   40.9,   35.7,   43.1,   55.7,   63.1,   71. ,   77.9,
          75.8,   66.6,   56.2,   51.9,   43.6,   56.8],
       [2007. ,   37.5,   28.2,   42.2,   50.3,   65.2,   71.4,   75. ,
          74. ,   70.3,   63.6,   45.4,   37. ,   55. ],
       [2008. ,   36.5,   35.8,   42.6,   54.9,   60.1,   74. ,   78.4,
          73.8,   68.8,   55.1,   45.8,   38.1,   55.3],
       [2009. ,   27.9,   36.7,   42.4,   54.5,   62.5,   67.5,   72.7,
          75.7,   66.3,   55. ,   51.2,   35.9,   54. ],
       [2010. ,   32.5,   33.1,   48.2,   57.9,   65.3,   74.7,   81.3,
          77.4,   71.1,   58.1,   47.9,   32.8,   56.7],
       [2011. ,   29.7,   36. ,   42.3,   54.3,   64.5,   72.3,   80.2,
          75.3,   70. ,   57.1,   51.9,   43.3,   56.4],
       [2012. ,   37.3,   40.9,   50.9,   54.8,   65.1,   71. ,   78.8,
          76.7,   68.8,   58. ,   43.9,   41.5,   57.3],
       [2013. ,   35.1,   33.9,   40.1,   53. ,   62.8,   72.7,   79.8,
          74.6,   67.9,   60.2,   45.3,   38.5,   55.3],
       [2014. ,   28.6,   31.6,   37.7,   52.3,   64. ,   72.5,   76.1,
          74.5,   69.7,   59.6,   45.3,   40.5,   54.4],
       [2015. ,   29.9,   23.9,   38.1,   54.3,   68.5,   71.2,   78.8,
          79. ,   74.5,   58. ,   52.8,   50.8,   56.7],
       [2016. ,   34.5,   37.7,   48.9,   53.3,   62.8,   72.3,   78.7,
          79.2,   71.8,   58.8,   49.8,   38.3,   57.2],
       [2017. ,   38. ,   41.6,   39.2,   57.2,   61.1,   72. ,   76.8,
          74. ,   70.5,   64.1,   46.6,   33.4,   56.3],
       [2018. ,   31.7,   42. ,   40.1,   49.5,   66.9,   71.7,   77.6,
          78.1,   70.7,   57.7,   44.4,   40.1,   55.9],
       [2019. ,   32.5,   36.2,   41.7,   55.5,   62.2,   71.7,   79.6,
          75.5,   70.4,   59.9,   43.9,   38.3,   55.6],
       [2020. ,   39.1,   40.1,   48. ,   50.4,   60.3,   73.7,   80. ,
          76.9,   68.8,   57.9,   53. ,   39.2,   57.3]])

1. Find out the mean, max, min standard deviation of monthly temperature for all 20 years. 
2. Find out mean and standard deviation of monthly temperature for each month.
3. find the years and months when monthly temperature greater > 80 degree F 
4. find the years and months when monthly temperature greater < 32 degree F